$colorWhite:#fff;
$colorPlatinum:#e6e7e7;
$clorLightGray : #d1d1d1 ;
$clorFuzzyWuzzy : #e56353 ;
$clorRuddyPink : #d76c69 ;
$clorSPANISHpINK : #ECBCBA ;
$clorEerieBlack : #121619 ;
$clorRainsinBlack : #222323 ;
$clornICKEL : #6C6E70 ;

$fontSize70: 70px;
$fontSize: 30px;
$fontSize: 18px;
$fontSize: 16px;
$fontSize: 12px;
// $fontSize: px;