.miBoton {
  background-color: $clornICKEL;
  border: none;
  color: $colorWhite;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5rem;
}

.cuerpo_seleccion_btn_anterior {
  background-color: $colorWhite;
  border: none;
  color: $clornICKEL;
  font-size: $fontSize_large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
  margin-right: 1px;
  border-radius: 5rem 0 0 5rem;
  display: inline-block;
}

.cuerpo_seleccion_btn_blanco {
  background-color: $colorWhite;
  border: none;
  color: $clorEerieBlack;
  font-size: $fontSize_large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
  margin-right: 1px;
  border-radius: 0 0 0 0;
  display: inline-block;
}

.cuerpo_seleccion_btn_gris {
  background-color: $clorRainsinBlack;
  border: none;
  color: $colorWhite;
  font-size: $fontSize_large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
  margin-right: 1px;
  display: inline-block;
}

.cuerpo_seleccion_btn_siguiente {
  background-color: $colorWhite;
  border: none;
  color:$clorEerieBlack;
  font-size: $fontSize_large;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 0 5rem 5rem 0;
  display: inline-block;
  font-family: $letraRoboto;
}


@media(min-width:576px){
  .cuerpo_seleccion_btn_gris {
    background-color: $clornICKEL;
  }
}
