// Color Scheme

// First Color Scheme
$colorWhite:#fff;
$colorPlatinum:#e6e7e7;
$clorLightGray : #d1d1d1 ;

// Second Color Scheme
$clorFuzzyWuzzy : #e56353 ;
$clorRuddyPink : #d76c69 ;
$clorSPANISHpINK : #ECBCBA ;

//Third Color Scheme
$clorEerieBlack : #121619 ;
$clorRainsinBlack : #222323 ;
$clornICKEL : #6C6E70 ;

//Font Family
$letraRoboto: 'Roboto', sans-serif;
$letraPlayfairDisplay: 'Playfair Display', serif;

// Font Weight
$fontRegular: 400;
$playFairBoldItalic: 900;
$fontLight: 300;
$bold:900;





$fontSize_xx-large: 70px;
$fontSize_xx-largeNumero: 70;
$fontSize_x-large: 30px;
$fontSize_large: 18px;
$fontSize_medium: 16px;
$fontSize_small: 12px;
// $fontSize: px;

