.cuerpo{

    color: $clornICKEL;


    .cuerpo_titulo{
        font-family: $letraPlayfairDisplay;
        font-weight: $fontLight;
        font-size: $fontSize_large;
        
    }

    span{
        color: $clorFuzzyWuzzy;
    }

    .cuerpo_foto{
        width: 60%;
    }
    .cuerpo_mail{
        padding-top: 2em;
        text-align: center;
        h4{
            font-family: $letraPlayfairDisplay;
            color: $clorEerieBlack;
            font-style: italic;
            font-weight: $fontRegular;
            font-size: $fontSize_x-large;
        }
        h5{
            color:$clorSPANISHpINK;
        }
    }
    .cuerpo_texto{
        padding-top: 2em;
    }
    
}


.cuerpo_botonera{
    padding-top: 2em;
    padding-bottom: 2em;
    background: $clorLightGray;

    .cuerpo_botonera_container{
        display: flex;
        align-items: center;
        justify-content: center;
     }
}